/GM_PaymentsPlugin.DataLayer/bin/Debug
/GM_PaymentsPlugin.DataLayer/obj/Debug
/GM_PaymentsPlugin.Forms/bin/Debug
/GM_PaymentsPlugin.Forms/obj/Debug
/GM_PaymentsPlugin.PaymentsPlugin/bin/Debug
/GM_PaymentsPlugin.PaymentsPlugin/obj/Debug
/_TestHostApp/bin/Debug
/_TestHostApp/obj/Debug
/.vs/GM_PaymentsPlugin/v14
